@import url(style.css);

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.hero-img{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 400px;
    width: 400px;
    margin-top: 550px;
    margin-left: 350px;
    margin-right: 0;
    text-align: center;
}

.hero-text p{
    text-align: center;
}

@media (max-width: 768px) {

    .hero-text{
        display: block;
        flex-direction: column;
        position: relative;
        height: 200px;
        width: 400px;
        text-align: justify;
        font-size: 14px;
        margin-top: 40px;
        text-align: justify;
    }
    .hero-text p{
        display: block;
        flex-direction: column;
        position: relative;
        height: 200px;
        width: 400px;
        text-align: justify;
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0;
        text-align: justify;
    }
    .underlineAbout {
        width: 390px;
        margin-top:0;
    }
        .hero-img{
        display: block;
        flex-direction: column;
        position: relative;
        height: 400px;
        width: 350px;
        margin-top: 0;
        margin-left: 0;
        text-align: justify;
        font-size: 18px;
    }
}