@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
    background-color: #353543;
}

.footer-content {
    background-color: #353543;
    border-top: 3px solid #e4c479;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 9%;
    height: 126px;
}

.footer-content h3 {
    font-size: 35px;
    font-weight: 600;
    font-family: 'Chelsea Market', cursive;
}

.footer-content p {
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 300;
    line-height: 28px;
    color: #b8b9c0;
    font-family: 'Chelsea Market', cursive;
}

.socials {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-top: 20px;
}

.socials li {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #5e5f6c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease;
}

.socials a {
    color: white;
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a i {
    transition: color .4s ease;
}

.socials a:hover i {
    color: #e4c479;
}

.footer-bottom {
    width: 100vw;
    text-align: center;
}

.footer-bottom p {
    display: flex;
    justify-content: center;
    font-size: 12px;
    text-transform: capitalize;
    text-align: center;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    font-size: 12px;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.navList {
    display: flex;
}

.navList a {
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    font-family: 'Chelsea Market', cursive;

}

.navList a:hover {
    border-bottom: 2px solid #e4c479;
}

#menu-icon {
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero {
    height: 87.4vh;
    width: 100vw;
    background: linear-gradient(360deg, #b8b9c0 0%, #5e5f6c 35%, #353543 65.00%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section {
    padding: 0 19%;
}

.First_letter {
    color: #e4c479;
    text-shadow: 0 1px 8px #b8b9c0;
    font-size: 60px;
}

.First_letter_FullStack {
    color: #e4c479;
    text-shadow: 0 1px 8px #b8b9c0;
    font-family: 'Chelsea Market', cursive;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text h1 {
    font-family: 'poppins', sans-serif;
    font-size: 48px;
    line-height: 1;
    color: white;
    margin: 0 0 15px;
}

.hero-text h4 {
    font-size: 66px;
    font-weight: 600;
    color: white;

}

.hero-text h5 {
    font-size: 30px;
    font-weight: 400;
    color: white;

}

.hero-text p {
    color: white;
    font-size: 15px;
    line-height: 1.9;

}

.underlineAbout {
    background-color: #e4c479;
    height: 2px;
    margin-bottom: 20px;
    box-shadow: 2px 3px 10px 2px #b8b9c0;
    width: 550px;

}

.scroll-down {
    position: absolute;
    bottom: 14%;
    right: 9%;
}

.scroll-down i {
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: #353543;
    border-radius: 30px;
    transition: all .55s ease;
}

.scroll-down i:hover {
    transform: translateY(-5px);
}

.the-box-projects {
    width: 500px;
    margin-top: -50px;
    background-color: #5e5f6c44;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 3px 10px 2px #b8b9c0;
    gap: 25px;
}
.text-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
}
.text-project p {
    text-shadow: 1px 2px 6px black;
    margin: 0;
}

 form {
    width: 550px;
     margin: 0 auto;
     padding: 10px;
     border-radius: 5px;
     color: #e4c479;
     text-shadow: 1px 1px 6px white; 
    text-transform: uppercase;
 }

 label {
     display: block;
     margin-bottom: 8px;
 }

 input{
    color:white;
    background-color: #b8b9c0;
    font-size: 18px;
    border-radius: 10px;
    height: 40px;
    text-align: center;
    width: 30%;
 }

 input:focus{
    outline: 2px solid #e4c479;
 }

 input:active{
    border: none;
 }
 input[type="text"],
 input[type="email"],
 input[type="tel"] {
    height: 30px;
     width: 80%;
     padding: 10px;
     margin-bottom: 10px;
     border: 1px solid #ccc;
     box-sizing: border-box;
 }

 input[type="submit"] {
    display: inline-block;
    color: white;
    background: #353543;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
 }

 input[type="submit"]:hover {
    background: transparent;
    border: 1px solid #e4c479;
    transform: translateX(8px);
    color: #e4c479;
    transition: all .55s ease;
    box-shadow: 1px 1px 4px #b8b9c0;
    text-shadow: 1px 2px 8px #ffffff80;
 }

 #message{
    color: white;
    background-color: #b8b9c0;
    font-size: 18px;
    border-radius: 15px;
    height: 75px;
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    direction: rtl;
 }

    #message:focus{
        outline: 2px solid #e4c479;
    }

 .icons {
     padding: 0 9%;
     transform: translateY(-50%);
     display: flex;
     margin-top:40px;
 }

 .icons i {
     display: block;
     margin: 26px 0;
     font-size: 33px;
     color: white;
     transition: all .55s ease;
     margin-right: 30px;
     margin-left: 30px;
 }

 .icons i:hover {
     color: #e4c479;
     transform: translateY(-5px);
 }

@media (max-width: 1535px) {

    header {
        padding: 15px 3%;
        transition: .2s;
    }

    .icons {
        padding: 0 3%;
        transition: .2s;
    }

    .scroll-down {
        right: 3%;
        transition: .2s;
    }

}

@media (max-width: 1460px) {
    section {
        padding: 0 12%;
        transition: .2s;
    }
}

@media (max-width: 1340px) {
    .hero-img img {
        width: 100%;
        height: auto;
    }

    .hero-text h1 {
        font-size: 66px;
        margin: 0 0 30px;
    }

    .hero-text h5 {
        margin-bottom: 25px;
    }
}

@media (max-width: 1195px) {
    section {
        padding: 0 3%;
        transition: .2s;
    }

    .hero-text {
        padding-top: 115px;
    }

    .hero-text h1 {
        font-size: 60px;
        margin: 0 0 30px;
    }

    .hero-img {
        text-align: center;
    }

    .hero-img img {
        width: 560px;
        height: auto;
    }

    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .icons {
        display: none;
    }

    .scroll-down {
        display: none;
    }
}

@media (max-width: 990px) {
    #menu-icon {
        display: block;
    }

    .navList {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 100%;
        height: 400vh;
        background: #353543;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }

    .navList a {
        font-size: 40px;
        display: block;
        margin: 7px 0;
        margin-left: 0;
    }

    .navList.open {
        right: 0;
    }
}

@media (max-width: 768px) {
    .navList {
            background-color: #35354395;
            -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
            transition: all .55s ease;
            box-shadow: 2px 0 0 2px #e4c479;
            text-shadow: 1px 1px 15px #353543;
        }

        .footer-content {
            height: 90%;
            width: 428px;
            flex-direction: column;
            justify-content: left;
            align-items: left;
        }

        .footer-content h3 {
            font-size: 35px;
            font-weight: 600;
            font-family: 'Chelsea Market', cursive;
        }

        .footer-content p {
            font-size: 12px;
            display: flex;
            align-items: left;
            width: 370px;
            font-weight: 300;
            line-height: 20px;
            color: #b8b9c0;
            font-family: 'Chelsea Market', cursive;
        }

        .socials {
            display: flex;
            justify-content: space-between;
            width: 150px;
            margin-top: 20px;
        }

        .socials li {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: #5e5f6c;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .4s ease;
        }

        .socials a {
            color: white;
            font-size: 1.1rem;
            transition: color .4s ease;
        }

        .socials a i {
            transition: color .4s ease;
        }

        .socials a:hover i {
            color: #e4c479;
        }

        .footer-bottom {
            width: 70vw;
            text-align: left;
        }

        .footer-bottom p {
            display: flex;
            justify-content: left;
            font-size: 12px;
            text-transform: capitalize;
            text-align: left;
            width: 100%;
        }

        .footer-bottom span {
            text-transform: uppercase;
            opacity: .4;
            font-weight: 200;
            font-size: 12px;
        }

    .First_letter {
        font-size: 45px;
    }
    .hero-text h1 {
        font-size: 35px;
        margin: 0 0 30px;
        text-transform: uppercase;
    }
    .underlineAbout{
        width: 400px;
    }

    .text-project{
        width: 420px;
    }
    .text-project p {
        font-size: 15px;
        text-align: justify;
        line-height: 1.9;
        margin: 5px;
    }
    .the-box-projects{
        width: 390px;
        height: 550px;
        margin-bottom: 50px;
        border-radius: 15px;
        margin-top: -20px;
    }

         .icons {
             padding: 0 9%;
             transform: translateY(-50%);
             display: flex;
             margin-top: 30px;
         }
    
         .icons i {
             display: block;
             margin: 26px 0;
             font-size: 33px;
             color: white;
             transition: all .55s ease;
             margin-left: 30px;
            margin-right: 30px;
         }
    
         .icons i:hover {
             color: #e4c479;
             transform: translateY(-5px);
         }
}

@media (max-width: 414px) {

        .footer-content {
                height: 90%;
                width: 375px;
                flex-direction: column;
                justify-content: left;
                align-items: left;
            }
        
            .footer-content h3 {
                font-size: 35px;
                font-weight: 600;
                font-family: 'Chelsea Market', cursive;
            }
        
            .footer-content p {
                font-size: 11px;
                display: flex;
                align-items: left;
                width: 340px;
                font-weight: 300;
                line-height: 20px;
                color: #b8b9c0;
                font-family: 'Chelsea Market', cursive;
            }
        
            .socials {
                display: flex;
                justify-content: space-between;
                width: 150px;
                margin-top: 20px;
            }
        
            .socials li {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background-color: #5e5f6c;
                display: flex;
                justify-content: left;
                align-items: left;
                transition: all .4s ease;
            }
        
            .socials a {
                color: white;
                font-size: 1.1rem;
                transition: color .4s ease;
            }
        
            .socials a i {
                transition: color .4s ease;
            }
        
            .socials a:hover i {
                color: #e4c479;
            }
        
            .footer-bottom {
                width: 70vw;
                text-align: left;
            }
        
            .footer-bottom p {
                display: flex;
                justify-content: left;
                font-size: 12px;
                text-transform: capitalize;
                text-align: left;
                width: 300px;
            }
        
            .footer-bottom span {
                text-transform: uppercase;
                opacity: .4;
                font-weight: 200;
                font-size: 12px;
                text-align: left;
            }

        .navList {
                background-color: #35354395;
                -webkit-backdrop-filter: blur(8px);
                backdrop-filter: blur(8px);
                transition: all .55s ease;
                box-shadow: 2px 0 0 2px #e4c479;
                text-shadow: 1px 1px 15px #353543;
            }

    .navList a {
        font-size: 30px;
    }

    .First_letter {
        font-size: 40px;
    }

    .hero-text h1 {
        font-size: 25px;
        margin: 0 0 30px;
        text-transform: uppercase;
    }

    .underlineAbout {
        width: 300px;
    }

    .text-project {
        width: 360px;
    }

    .text-project p {
        font-size: 15px;
        text-align: justify;
        line-height: 1.9;
        margin: 5px;
    }

    .the-box-projects {
        width: 350px;
        height: 540px;
        margin-bottom: 50px;
        border-radius: 15px;
        margin-top: -20px;
    }

    input{
        width: 60%;
    }
    .icons {
        padding: 0 9%;
        transform: translateY(-50%);
        display: flex;
        margin-top: 30px;
    }

    .icons i {
        display: block;
        margin: 26px 0;
        font-size: 33px;
        color: white;
        transition: all .55s ease;
        margin-left: 30px;
        margin-right: 30px;
    }

    .icons i:hover {
        color: #e4c479;
        transform: translateY(-5px);
    }
}

@media (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait),
(device-width: 1366px) and (device-height: 1024px) and (orientation: landscape){

            .footer-content {
                    height: 90%;
                    width: 100vw;
                    flex-direction: column;
                    justify-content: left;
                    align-items: left;
                }
            
                .footer-content h3 {
                    font-size: 35px;
                    font-weight: 600;
                    font-family: 'Chelsea Market', cursive;
                }
            
                .footer-content p {
                    font-size: 18px;
                    display: flex;
                    align-items: left;
                    width: 800px;
                    font-weight: 300;
                    line-height: 20px;
                    color: #b8b9c0;
                    font-family: 'Chelsea Market', cursive;
                }
            
                .socials {
                    display: flex;
                    justify-content: space-between;
                    width: 300px;
                    margin-top: 20px;
                }
            
                .socials li {
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    background-color: #5e5f6c;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all .4s ease;
                }
            
                .socials a {
                    color: white;
                    font-size: 1.1rem;
                    transition: color .4s ease;
                    font-size: 30px;
                }
            
                .socials a i {
                    transition: color .4s ease;
                }
            
                .socials a:hover i {
                    color: #e4c479;
                }
            
                .footer-bottom {
                    width: 90vw;
                    text-align: left;
                }
            
                .footer-bottom p {
                    display: flex;
                    justify-content: left;
                    font-size: 18px;
                    text-transform: capitalize;
                    text-align: left;
                    width: 100%;
                    padding-bottom: 15px;
                }
            
                .footer-bottom span {
                    text-transform: uppercase;
                    opacity: .4;
                    font-weight: 200;
                    font-size: 18px;
                }

    .hero{
        gap: 1rem;
        grid-template-columns: 1fr;
        height: 100vh;
        width: 100vw;
    }

    .First_letter {
            font-size: 55px;
        }
    
        .hero-text h1 {
            font-size: 45px;
            margin: 0 0 30px;
            text-transform: uppercase;
        }
    
        .underlineAbout {
            width: 750px;
        }
    
        .text-project {
            width: 740px;
        }
    
        .text-project p {
            font-size: 15px;
            text-align: justify;
            line-height: 1.9;
            margin: 5px;
        }
    
        .the-box-projects {
            width: 600px;
            height: 550px;
            margin-bottom: 50px;
            border-radius: 15px;
            margin-top: -20px;
        }
    
        .icons {
            padding: 0 9%;
            transform: translateY(-50%);
            display: flex;
            margin-top: 30px;
        }
    
        .icons i {
            display: block;
            margin: 26px 0;
            font-size: 33px;
            color: white;
            transition: all .55s ease;
            margin-left: 30px;
            margin-right: 30px;
        }
    
        .icons i:hover {
            color: #e4c479;
            transform: translateY(-5px);
        }

}

@media (device-width: 834px) and (device-height: 1194px) and (orientation: portrait),
(device-width: 1194px) and (device-height: 834px) and (orientation: landscape){


            .footer-content {
                    height: 90%;
                    width: 100vw;
                    flex-direction: column;
                    justify-content: left;
                    align-items: left;
                }
            
                .footer-content h3 {
                    font-size: 35px;
                    font-weight: 600;
                    font-family: 'Chelsea Market', cursive;
                }
            
                .footer-content p {
                    font-size: 18px;
                    display: flex;
                    align-items: left;
                    width: 800px;
                    font-weight: 300;
                    line-height: 20px;
                    color: #b8b9c0;
                    font-family: 'Chelsea Market', cursive;
                }
            
                .socials {
                    display: flex;
                    justify-content: space-between;
                    width: 300px;
                    margin-top: 20px;
                }
            
                .socials li {
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    background-color: #5e5f6c;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all .4s ease;
                }
            
                .socials a {
                    color: white;
                    font-size: 1.1rem;
                    transition: color .4s ease;
                    font-size: 30px;
                }
            
                .socials a i {
                    transition: color .4s ease;
                }
            
                .socials a:hover i {
                    color: #e4c479;
                }
            
                .footer-bottom {
                    width: 90vw;
                    text-align: left;
                }
            
                .footer-bottom p {
                    display: flex;
                    justify-content: left;
                    font-size: 18px;
                    text-transform: capitalize;
                    text-align: left;
                    width: 100%;
                    padding-bottom: 15px;
                }
            
                .footer-bottom span {
                    text-transform: uppercase;
                    opacity: .4;
                    font-weight: 200;
                    font-size: 18px;
                }
    .navList{
        background-color: #35354395;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        transition: all .55s ease;
        box-shadow: 2px 0 0 2px #e4c479;
        text-shadow: 1px 1px 15px #353543;
    }
        .hero{
            gap: 1rem;
            grid-template-columns: 1fr;
            height: 100vh;
            width: 100vw;
        }
    
        .First_letter {
                font-size: 55px;
            }
        
            .hero-text h1 {
                font-size: 45px;
                margin: 0 0 30px;
                text-transform: uppercase;
            }
        
            .underlineAbout {
                width: 750px;
            }
        
            .text-project {
                width: 740px;
            }
        
            .text-project p {
                font-size: 15px;
                text-align: justify;
                line-height: 1.9;
                margin: 5px;
            }
        
            .the-box-projects {
                width: 600px;
                height: 550px;
                margin-bottom: 50px;
                border-radius: 15px;
                margin-top: -20px;
            }
        
            .icons {
                padding: 0 9%;
                transform: translateY(-50%);
                display: flex;
                margin-top: 30px;
            }
        
            .icons i {
                display: block;
                margin: 26px 0;
                font-size: 33px;
                color: white;
                transition: all .55s ease;
                margin-left: 30px;
                margin-right: 30px;
            }
        
            .icons i:hover {
                color: #e4c479;
                transform: translateY(-5px);
            }
    
}