@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

html {
    scrollbar-width: normal;
    scrollbar-color: #e4c479 #353543;
}

html::-webkit-scrollbar {
    width: 10px;

}

html::-webkit-scrollbar-thumb {
    background-color: #e4c479;
    border-radius: 150px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
        inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

html::-webkit-scrollbar-track {
    background-color: #5e5f6c;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
    background-color: #353543;
    transition: .2s;
}

.footer-content{
    background-color: #353543;
    border-top: 3px solid #e4c479;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 9%;
    height: 126px;
}

.footer-content h3{
    font-size: 35px;
    font-weight: 600;
    font-family: 'Chelsea Market', cursive;
}

.footer-content p{
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 300;
    line-height:28px;
    color: #b8b9c0;
    font-family: 'Chelsea Market', cursive;
}

.socials{
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-top: 20px;
}

.socials li{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #5e5f6c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease;
}

.socials a{
    color: white;
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a i{
    transition: color .4s ease;
}

.socials a:hover i{
    color: #e4c479;
}

.footer-bottom{
    width: 100vw;
    text-align: center;
}
.footer-bottom p{
    display: flex;
    justify-content: center;
    font-size: 12px;
    text-transform: capitalize;
    text-align: center;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    font-size: 12px;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color:white;

}
.navList{
    display: flex; 
}
.navList a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    font-family: 'Chelsea Market', cursive;

}

.navList a:hover{
    border-bottom: 2px solid #e4c479;
}

#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero{
    width: 100%;
    min-height: 87.4vh;
    background: linear-gradient(360deg, #b8b9c0 0%, #5e5f6c 35%, #353543 65.00%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section{
    padding: 0 19%;
}

.First_letter{
    color: #e4c479;
    text-shadow: 0 1px 8px #b8b9c0;
    font-size: 60px;
}

.First_letter_FullStack{
    color: #e4c479;
    text-shadow: 0 1px 8px #b8b9c0;
    font-family: 'Chelsea Market', cursive;
}

.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
    font-family: 'Chelsea Market', cursive;
}
.hero-text h1{
    font-family: 'poppins', sans-serif;
    font-size: 48px;
    line-height: 1;
    color: white;
    margin:0 0 45px;
}

.hero-text h4{
    font-size:66px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}
.hero-text h5 {
    font-size: 30px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}

.hero-text p {
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 20px;
}

.hero-img img {
    width: 500px;
    height: 500px;
    filter:drop-shadow(2px 2px 10px #00000080);
}

.hero-text a{
    display: inline-block;
    color: white;
    background: #5e5f6c;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.hero-text a:hover{
    background: transparent;
    border: 1px solid #e4c479;
    transform: translateX(8px);
    color: #e4c479;
}

.hero-text a.ctaa{
    background: transparent;
    border: 1px solid #e4c479;
    margin-left: 20px;
}

.hero-text a.ctaa i{
    vertical-align: middle;
    margin-left: 5px;
}

.underlineAbout {
    background-color: #e4c479;
    height: 2px;
    margin-bottom: 20px;
    box-shadow: 2px 3px 10px 2px #b8b9c0;
    width: 530px;
}

.icons{
    position: absolute;
    top: 40%;
    padding:  0 9%;
    transform: translateY(-50%);
}
.icons i{
    display: block;
    margin: 26px 0 ;
    font-size: 33px;
    color: white;
    transition: all .55s ease;
    margin-top: 10px;
}

.icons i:hover{
    color: #e4c479;
    transform: translateY(-5px);
}

.scroll-down{
    position: absolute;
    bottom: 15%;
    right: 9%; 
}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: #353543;
    border-radius:30px;
    transition: all .55s ease;
}
.scroll-down i:hover{
    transform: translateY(-5px);
}

@media (max-width: 1535px){

    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }

}

@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }  
}

@media (max-width: 1340px){

    
    .hero-img img{
        width: 100%;
        height: auto;
    }
    .hero-text h1{
        font-size: 66px;
        margin: 0 0 30px;  
    }
        .hero-text h5{
            margin-bottom: 25px;
        }
}

@media (max-width: 1195px){


            .footer-content {
                    height: 90%;
                    width: 100vw;
                    flex-direction: column;
                    justify-content: left;
                    align-items: left;
                }
            
                .footer-content h3 {
                    font-size: 35px;
                    font-weight: 600;
                    font-family: 'Chelsea Market', cursive;
                }
            
                .footer-content p {
                    font-size: 18px;
                    display: flex;
                    align-items: left;
                    width: 800px;
                    font-weight: 300;
                    line-height: 20px;
                    color: #b8b9c0;
                    font-family: 'Chelsea Market', cursive;
                }
            
                .socials {
                    display: flex;
                    justify-content: space-between;
                    width: 300px;
                    margin-top: 20px;
                }
            
                .socials li {
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    background-color: #5e5f6c;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all .4s ease;
                }
            
                .socials a {
                    color: white;
                    font-size: 1.1rem;
                    transition: color .4s ease;
                    font-size: 30px;
                }
            
                .socials a i {
                    transition: color .4s ease;
                }
            
                .socials a:hover i {
                    color: #e4c479;
                }
            
                .footer-bottom {
                    width: 90vw;
                    text-align: left;
                }
            
                .footer-bottom p {
                    display: flex;
                    justify-content: left;
                    font-size: 18px;
                    text-transform: capitalize;
                    text-align: left;
                    width: 100%;
                    padding-bottom: 15px;
                }
            
                .footer-bottom span {
                    text-transform: uppercase;
                    opacity: .4;
                    font-weight: 200;
                    font-size: 18px;
                }
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .hero-text{
        padding-top: 115px;
    }
    .hero-text h1 {
        font-size: 60px;
        margin: 0 0 30px;
    }
    .hero-img{
        text-align: center;
    }
    .hero-img img{
        width: 560px;
        height: auto;
    }
    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .icons{
        display: none;
    }
    .scroll-down{
        display: none;
    }
}
@media (max-width: 990px){

    #menu-icon{
        display: block;
    }
    .navList{
        position: absolute;
        top:100%;
        right: -100%;
        width: 100%;
        height: 400vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
        background-color: #35354395;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        transition: all .55s ease;
        box-shadow: 2px 0 0 2px #e4c479;
        text-shadow: 1px 1px 15px #353543;
    }

    .navList a{
        font-size: 40px;
        display: block;
        margin: 7px 0 ;
        margin-left: 0;
    }
    .navList.open{
        right: 0;
    }
}
/* for display like 6.5 inch mobile */
@media (max-width: 768px){

        .footer-content {
                height: 100%;
                width: 428px;
                flex-direction: column;
                justify-content: left;
                align-items: left;
            }
        
            .footer-content h3 {
                font-size: 35px;
                font-weight: 600;
                font-family: 'Chelsea Market', cursive;
            }
        
            .footer-content p {
                font-size: 12px;
                display: flex;
                align-items: left;
                width: 370px;
                font-weight: 300;
                line-height: 20px;
                color: #b8b9c0;
                font-family: 'Chelsea Market', cursive;
            }
        
            .socials {
                display: flex;
                justify-content: space-between;
                width: 150px;
                margin-top: 20px;
            }
        
            .socials li {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background-color: #5e5f6c;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .4s ease;
            }
        
            .socials a {
                color: white;
                font-size: 1.1rem;
                transition: color .4s ease;
            }
        
            .socials a i {
                transition: color .4s ease;
            }
        
            .socials a:hover i {
                color: #e4c479;
            }
        
            .footer-bottom {
                width: 70vw;
                text-align: left;
            }
        
            .footer-bottom p {
                display: flex;
                justify-content: center;
                font-size: 12px;
                text-transform: capitalize;
                text-align: center;
            }
        
            .footer-bottom span {
                text-transform: uppercase;
                opacity: .4;
                font-weight: 200;
                font-size: 12px;
            }

.navList{
    background-color: #35354395;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    transition: all .55s ease;
    box-shadow: 2px 0 0 2px #e4c479;
    text-shadow: 1px 1px 15px #353543;
}


    .First_letter{
        font-size: 45px;
    }

    .text-array{
        display: flex;
        text-align: justify;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .hero-img img {
        width: 300px;
        height: 300px;
    }
    .hero-text h1 {
        font-size: 35px;
        margin: 0 0 30px;
    }
    .hero-text h4 {
        font-size: 55px;
        font-weight: 600;
        color: white;
        margin-bottom: 10px;
    
    }
    .underlineAbout {
        width: 400px;
    }
        header{
            background-color: #353543;
        }
}

@media (max-width: 414px) {

    .footer-content {
        height: 90%;
        width: 375px;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }

    .footer-content h3 {
        font-size: 35px;
        font-weight: 600;
        font-family: 'Chelsea Market', cursive;
    }

    .footer-content p {
        font-size: 11px;
        display: flex;
        align-items: left;
        width: 340px;
        font-weight: 300;
        line-height: 20px;
        color: #b8b9c0;
        font-family: 'Chelsea Market', cursive;
    }

    .socials {
        display: flex;
        justify-content: space-between;
        width: 150px;
        margin-top: 20px;
    }

    .socials li {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #5e5f6c;
        display: flex;
        justify-content: left;
        align-items: left;
        transition: all .4s ease;
    }

    .socials a {
        color: white;
        font-size: 1.1rem;
        transition: color .4s ease;
    }

    .socials a i {
        transition: color .4s ease;
    }

    .socials a:hover i {
        color: #e4c479;
    }

    .footer-bottom {
        width: 70vw;
        text-align: left;
    }

    .footer-bottom p {
        display: flex;
        justify-content: left;
        font-size: 12px;
        text-transform: capitalize;
        text-align: left;
        width: 300px;
    }

    .footer-bottom span {
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
        font-size: 12px;
        text-align: left;
    }


    .hero-text h1 {
        font-size: 35px;
        margin: 0 0 30px;
    }
    .hero-text h4 {
        font-size: 45px;
        font-weight: 600;
        color: white;
        margin-bottom: 10px;
    }
    .hero-text h5 {
        font-size: 25px;
        font-weight: 400;
        color: white;
        text-align: left;
    }
    .sectionBtn{
        display: flex;
        justify-content: center;
    }
    .hero-text p {
        color: white;
        font-size: 15px;
        line-height: 1.9;
        margin-bottom: 20px;
    }
    .hero-img img {
        width: 250px;
        height: 250px;
    }
    .First_letter{
        font-size: 35px;
    }
    .First_letter_FullStack{
        font-size: 35px;
    }
    .underlineAbout {
        width: 350px;
    }
    .hero-text a {
        display: inline-block;
        color: white;
        background: #5e5f6c;
        border: 1px solid transparent;
        padding: 12px 30px;
        line-height: 1.4;
        font-size: 14px;
        font-weight: 500;
        border-radius: 30px;
        text-transform: uppercase;
        transition: all .55s ease;
    }
    .hero-text a.ctaa {
        background: transparent;
        border: 1px solid #e4c479;
        margin-left: 20px;
    }
    .hero-text a.ctaa i {
        vertical-align: middle;
        margin-left: 5px;
    }
    .hero-text a:hover {
        background: transparent;
        border: 1px solid #e4c479;
        transform: translateX(8px);
        color: #e4c479;
    }
    .hero-text a.ctaa:hover {
        background: transparent;
        border: 1px solid #e4c479;
        transform: translateX(8px);
}
}
